.alert-success, .alert-danger {
    color: white;
    padding: 5px;
    margin: 5px 0 15px 0;
    font-size: 1.6em;
    border: 3px solid blue;
    text-align: center;
    top:30px;
}
.success {
    background: green;
}
.container{
    padding-bottom: 50px;
    margin-top: 50px;
}