*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{width: 80%; margin: auto; font-family: sans-serif; background: #4545; background: URL(fondo.jpeg);
        background-repeat: no-repeat; background-size: cover;

}
header{
    width: 100%; height: 50px; 
}
h2{color: white; text-align: center;}

.form-registro{
    width: 95%;
    max-width: 500px;
    margin: auto;
    background: white;
    border-radius: 7px;
    padding-top: 25px;

}
.form-titulo{
    background: RGBA(47,155,37,0.74);
    color: black;
    padding: 20px;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 5px solid rgb(30,95,27);
}
.contenedor-inputs{
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
input{
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid darkgray
}
.input-48{width: 48%}
.input-100{width: 100%;}

input[type="submit"]{
    background: rgb(47,155,37);
    color: white;
    margin: auto;
    padding: 10px 40px;
    cursor: pointer;
    font-size: 20px;
}  
input[type="submit"]:hover{
    transform: scale(1.2)
} 
.form-link{
    width: 100%;
    margin: 10px
}


  