*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

main{
    width: 100%;
    margin: auto;
    margin-top:25px;
}



header .contenedor{
    display: table;
    width: 100%;
	display:flex; 
	justify-content: space-around; 
	align-items: center;
    padding-top: 10px;
    background: black;
    color: whitesmoke;
}

header img{
   	width: 120px;
    height: 80px;
    padding-top: 5px;
    padding-bottom: 10px;
}

h1{
    float: left;
    font-family: cursive;
    font-size: 30px;
    transition: all 2s ease-out;
}

h1:hover{
  transform: translateX(400px);
}


#sierra.contenedor{
width: 500px;
height: 300px;
}


#contenedor h4{
    font-size: 3px
}
.contenedor h4{
    text-align: center;
}
